DATABASE_URL="postgresql://..."
NEXTAUTH_SECRET="your-secret-here"
NEXTAUTH_URL="http://localhost:8000"
GITHUB_CLIENT_ID = "your-secretId-here"
GITHUB_CLIENT_SECRET="your-secret-here"
CLOUDINARY_CLOUD_NAME= "cloud-name"
CLOUDINARY_API_KEY="cloudinary-api-key"
CLOUDINARY_API_SECRET="cloudinary-api-secret"